@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset margin dan padding default */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333333;
}

/* Atur box-sizing untuk semua elemen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Swiper Pagination */
.swiper-pagination-bullet {
  background-color: #ffc107 !important; /* Warna primary */
  opacity: 0.7;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffc107 !important; /* Warna primary */
  opacity: 1;
  transform: scale(1.3);
}
